<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>About Monitor control</h1>
        <p>Welcome to the Monitor control web app! This web application allows you to run Python code directly from the browser, execute predefined functions, and interact with the system in a variety of ways.</p>

        <h2>Features:</h2>
            <li>Run Python code from a simple text input box.</li>
            <li>Execute predefined functions to interact with the system, such as shutting down or rebooting the computer.</li>
            <li>Easy-to-use interface with a modern design.</li>

        <h2>How it Works:</h2>
        <p>This app uses Flask as the backend framework to execute Python code dynamically and PyAutoGUI for some of the predefined functions such as closing windows or shutting down the computer.</p>

        <h2>Tips:</h2>
        <p>The Python script has imported the following libraries: pyautogui, sys, os, io, win32api, win32con, win32gui, and win32process.</p>

        <br><br>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
